.articles_list {
  width: 100%;
  background: #020c10;
  .articles_list_container {
    max-width: 1100px;
    margin: 0 auto;
    color: #eee6b6;
   a {
     text-decoration: none;
     display: block;
     color: #eee6b6;
     font-size: 30px;
     border-bottom: 2px solid  #eee6b6;
   h4.title {

      font-family: 'Dosis', sans-serif;

      letter-spacing: .2rem;
      font-weight: 200;
      background: transparent;
      transition: .3s ease-in-out;

      &:hover {
        color: white;
        cursor: pointer;
        margin-left: 2%;
      }

    }
     .subText {
       position: relative;
       top: -20px;
     }
    }
  }
}
